<mat-toolbar class="header" color="accent">
  <div class="w3-container">
    <!-- <h1><a routerLink=""></a></h1> wtf-->
    <div class="butts">
      <mat-card-actions align="middle">

        <button mat-button routerLink="z1">zaglushka1</button>
        <button mat-button routerLink="z2">zaglushka2</button>
        <button mat-button routerLink="z3">zaglushka3</button>
        <button mat-button routerLink="z4">zaglushka4</button>
        <button mat-button routerLink="z5">zaglushka5</button>
      </mat-card-actions>
    </div>
  </div>
</mat-toolbar>
