@import '~@angular/material/theming';
@import 'assets/stylesheets/theme.scss';
@import "assets/stylesheets/w3.css";
@import "assets/stylesheets/variables";

@include angular-material-theme($hotel-app-theme);
html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-border {
  background-color: $primary-dark;
  height: 25px;
}
